<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body class="justify-content-center align-items-center">
    <div id="app"  class="col-auto" >
        <h1>{{uppercaseText}}</h1>
        <h2 v-if="statusAccount">Cuenta activa</h2>
        <h2 v-else="statusAccount">Cuenta desactivada</h2>
        <h3 
            class="bg-dark"
            :class="colorAmount">
            Mi Saldo es de:{{cantidad}}</h3>
        <a v-bind:href="enlace">ir al enlace</a>
        <h2>Servicios</h2>
        <ul>
            <li v-for="(item, index) in servicios" :key="index">{{index}}-{{item}}</li>
        </ul>
        <hr><button @click="add100()">Agregar 100</button>
        <button v-on:click="subtraction100() ":disabled="statusbutton">Quitar 100</button>
        
        <hr><button @click="add10()">Agregar 10</button>
        <button v-on:click="subtraction10()" :disabled="statusbutton">Quitar 10</button>
        <footer-banco :amount="value" date="Agosto 2022"></footer-banco>
    </div>
    <script src="main.js"></script>
    <script src="Components/Footer.js"></script>
    <script>
    const mountedApp = app.mount('#app')
    </script>
    
</body> 
</html>