<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app" text-center>
        <h1>{{mayusculasTexto}}</h1>
        <h2 v-if="estado">Cuenta activa</h2>
        <h2 v-else="estado">Cuenta desactivada</h2>
        
    <!--<h3 v-if="cantidad>500">Mi Saldo es de:{{cantidad}}</h3>
        <h3 v-else-if="cantidad <= 500 && cantidad > 0">Mi Saldo es <span style="color:red">{{cantidad}}</span>
        </h3>
        <h3 v-else="cantidad">Sin cantidad<span style=" color:red; background-color:yellow;">{{cantidad}}</span></h3>
        <a v-bind:href="enlace">ir al enlace</a>
    -->
        <h3 
            class="bg-dark"
            :class="colorCantidad">
            Mi Saldo es de:{{cantidad}}</h3>
        <a v-bind:href="enlace">ir al enlace</a>
        <h2>Servicios</h2>
        <ul>
            <li v-for="(item, index) in servicios" :key="index">{{index}}-{{item}}</li>
        </ul>
        <hr><button @click="agregar100()">Agregar 100</button>
        <button v-on:click="quitar100()">Quitar 100</button>
        
        <hr><button @click="agregar10()">Agregar 10</button>
        <button v-on:click="quitar10()" :disabled="estadoboton">Quitar 10</button>

        <div class="bg-dark py-3 text-white mt-2"><h2>Pie de pagina</h2> </div>
        
    </div>
    <script src="main.js"></script>
    <script>
    const mountedApp = app.mount('#app')
    </script>
    
</body> 
</html>